* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
--blueBg: #53A7CC;
--colorText: #FFFFFF;
--bgButton: #706E6E;
--bgTitle: #FF0000;
--colorTitle: #FFFF00;
--colorBlack: black;
--colorMotto: rgb(197, 195, 195);
--fontRoboto: 'Roboto Slab', serif;
}

.page {
    background-image: url(../images/bg-toystory.jpg);
    background-size: cover;
}

.main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 130px);
}

.main__title {
    font-family: 'Potta One';
    font-weight: normal;
    color: var(--colorTitle);
    background: var(--bgTitle);
    width: 480px;
    text-align: center;
    -webkit-text-stroke: 2px var(--blueBg);
    margin: 10px;
}

.main__image {
    border-radius: 10px;
}

.main__form {
    padding: 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    width: 460px;
    height: 160px;
    display: grid;
    align-items: center;
    grid-template-columns: 70% 30%;
    grid-template-rows: 75%;
    color: var(--colorText);
}

.main__form--label {
    font-weight: bolder;
    font-size: 20px;
}

.main__form--number {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: 20px solid black;
    box-shadow: inset 0 0 0 45px  #FFFFFF;
    background: black;
    font-weight: bolder;
    font-size: 16px;
    text-align: right;
    color: black;
}

.main__form--number:focus {
    outline: 0 none;
}
.main__form--button {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--colorText);
    background:var(--bgButton);
    border-radius: 5px;
    border: none;
    width: 85px;
    height: 35px;
    padding: 5px;
    margin: 3px;
    font-size: 14px;
    box-shadow: none;
    grid-column-end: 3;
}
.main__form--button:hover {
    transform: scale(1.07);
    background: var(--bgTitle);
    color: var(--colorTitle);
    -webkit-text-stroke: 0.8px var(--blueBg);
}

.main__info {
    width: 470px;
    height: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: var(--colorText);
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    color: rgb(112, 110, 110);
}
.main__info--title {
    text-transform: uppercase;
    color: var(--blueBg);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: var(--colorBlack);
    border-top: 1px solid rgb(59, 59, 59);
    margin-top: 20px;
    padding: 10px;
    height: 130px;
}
 
.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: var(--colorText);
    font-family: var(--fontRoboto);
    font-size: 12px;
    padding: 0 20px 10px;
}

.footer__info--motto {
    font-family: var(--fontRoboto);
    color: var(--colorMotto);
    font-size: 10px;
}

.footer__socialMedia--icon {
    font-size: 17px;
    color: var(--colorText);
    padding: 5px;
    cursor: pointer;
}
    
.footer__logo{
    order: -1;
    width: 90px;
    border-radius: 80px;
}

@media all and (min-width: 768px) {
    .footer {
        flex-direction: row;
        height: 70px;
        margin-bottom: 15px;
        justify-content:flex-end;
    }

    .footer__info {
        padding: 0 20px;
    }
    
    .footer__logo {
        order: 0
    }
}

